runtime: custom
service: collaboration-service
env: flex

network:
  session_affinity: true

env_variables:
  ENV: PROD
  REDIS_URL: ${REDIS_URL}
  URI_QUESTION_SVC: https://question-service-dot-cs3219g20.as.r.appspot.com
